*,p,h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
}

h2 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 5px;
}

header {
	display: block;
	height: 175px;
	border-bottom: 1px solid #ccc;
	padding: 51px;
}

header>img {
	margin: 0 auto;
	display: block;
}

#title {
	display: block;
	width: 100%;
	background-color: #1a85ab;
	text-align:center;
	padding:20px;
}

#title h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	margin:0;
}

.section-title h2{
	text-align:center;
}

.section-title aside{
	text-align:center;
}

.long-survey-bg {
	background-color: #ebebeb;
	border: 1px solid #ccc;
	padding:40px;
}

aside {
	font-weight: 600;
	text-transform: uppercase;
}

.ball-blue {
	color: #1a85ab;
}

.long-survey-item {
	padding: 20px 40px;
}

.progress {
	background-color: #bbb;
	height: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

.progress-bar {
	background-color: #052b47;
	font-size: 16px;
	padding-top: 3px;

}

.sm-label {
	text-transform: uppercase;
	font-size: 12px;
	color: #222;
	text-align: center;
	margin-bottom: 5px;
	font-weight: 600;
}

hr {
border-top: 1px solid #ccc;
}

label {
	padding-left: 10px;
	font-weight: 400;
	width:100%;
}

.sm-note{
	font-size:12px;
	font-style: italic;	
}

input{
	margin-top:5px;
	padding:7px;
	width:100%;
}

.pull {
	float: none;
}

textarea {
	width: 100%;
	margin: 5px;
	padding: 10px;
	border: 1px solid #bbb;
}

.next-btn {
	width: 100%;
	background-color: #1a86ab;
	color: #fff;
	border-radius: 0;
	text-transform:  uppercase;
	padding: 10px 10px;
	font-size: 18px;
}

.next-btn:hover {
	background-color: #399cbe;
	color: #fff;
}

.next-btn:focus {
	color: #fff;
}

.prev-btn {
	width: 100%;
	background-color: #ccc;
	color: #333;
	border-radius: 0;
	text-transform: uppercase;
	padding: 10px 10px;
	font-size: 16px;
}

.prev-btn:hover {
	background-color: rgba(204,204,204,0.5)
}


#prog-container {
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
  min-width: 100px;
  margin: 20px;
  border-top: 2px solid #aaa;
    padding-left: 0;
}

.ak-progress {
  margin-top: -15px;
  font-weight: 600;
  color: #222;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  padding: 4px;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.ak-progress:hover {
  background-color: #ccc;
}

.prog-complete {
  background-color: #bbb;
  color: #333;
}

.prog-complete:hover {
  background-color: #aaa;
}


.prog-active {
  background-color: #052b47;
  color: #fff;
}

.prog-active:hover {
  background-color: #052b47;
  color: #fff;
}



#prog-container:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

footer {
	margin-top: 50px;
	padding:30px;
	background-color: #052b47
}

footer ul{
	padding-left:0;
}

footer li{
	padding:5px;
}

footer ul a{
	color:white;
	list-style: none;
	font-size: 13px;	
}

footer ul a:hover{
	color:#b4c0c8;
	text-decoration: none;
}

footer a img:hover{
	opacity:0.75;
}

.btn-footer {
color: #052b47;
background-color: #fff;
border: none;
border-radius: 0;
text-transform:uppercase;
padding:7px 25px;
}

.btn-footer:hover {
background-color: #b4c0c8;
}

.footer-btn-margin{
	margin:5px;
}

.disclaimer{
	color:white;
	padding:7px;
	border:1px solid #fff;
	font-size:11px;
	text-align: center;
	margin: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
.social-footer{
	padding:0;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .pull {
  	float: right;
  }
  
  .section-title h2{
	text-align:left;
}

.section-title aside{
	text-align:left;
}

}

section input[type=text] {
  clear: both;
}
.house section { margin-bottom: 40px; }
.house section > div.row:first-child { margin-top: 30px; }
.no-js.house a.btn { display: none;}
.house.js .secondary-input { display: none; }

#print{
  display:none;
}

@media print{
p{
  width: 100%;
  display:block;
}

  #pccc-logo
    {
      thead { display: table-header-group; }
    }
section{
page-break-before: always;
}

input{
  border: 0;
  font-weight:600;
}

.page_title h2, .page_title h3{
  text-align: center;
}

#print{
  display:block;
}
.container.long-survey-bg{
  display:none;
}

#print .container.long-survey-bg{
  display:block;
}

#title {
text-align: center;
height: auto;
min-height: 0;
}

input[type=button], input[type=submit]{
  display:none !important;
}

#progress{
  display:none !important;
}

.container{
  width: 95%;
  border: 0;
}

.pull{
  display:none;
}

.long-survey-item{
  width: auto !important;
}

label.radio-inline, label.checkbox-inline{
  width: auto;
}

input[type="radio"], input[type="checkbox"] {
width: auto;
}

textarea, input[type="text"]{
  display:none;
}


p, .options{
  clear: both;
  margin: 1.5em 0;
  display:block;
}

}

