body { padding-bottom: 60px; font-family: sans-serif; }
#preview-bar {
  background-color: rgba(90,90,90,0.5);
  color: #222;
  position: fixed;
  height: 60px;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0.5;
}
#preview-bar:hover {
  opacity: 1.0;
}
#preview-bar:hover li {
  background-color: rgba(90,90,90,0.8);
}
#preview-bar:hover li>a {
  color: rgba(255,255,255,0.8);
}
#preview-bar li>a:hover {
  color: navy;
}
#preview-bar ul {
  list-style-type: none;
  float: right;
  margin-right: 60px;
}
#preview-bar li { 
  float: left; 
  padding: 5px 15px;
}
#preview-bar li:hover { 
  opacity: 1.0
}

section { 
  float: left; 
  min-height: 500px; 
  margin-top: 30px;
  border-top: 1px #888 solid; 
  border-bottom: 1px #888 solid;
}

.aside { color: #888; font-weight: normal; font-size: smaller; }